#pro_skills_table{
    padding: 50px;

}

#pro_skills_column1{
    width: 300px;
    float: left;
}

#pro_skills_column2{
    width: 300px;
    float: right;
}

#pro_skills_column3{
    width: 300px;
    float: center;
}



#pro_skills_paragraph{
    width: 1000px;
    float: center;
}