#pro_skills_table{
    padding-bottom: 100px;
}

#pro_skills_column1{
    width: 250px;
    float: left;
    border: 5px;
}

#pro_skills_column2{
    width: 250px;
    float: left;
    border: 5px;
}

#pro_skills_column3{
    width: 250px;
    float: right;
    border: 5px;
}



#pro_skills_paragraph{
    width: 1000px;
}